.account-box
{
    border: 2px solid rgba(153, 153, 153, 0.75);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -o-border-radius: 2px;
    z-index: 3;
    font-size: 13px !important;
    font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
    background-color: #ffffff;
    padding: 20px;
}
.logo
{
    background-position: 0 -4px;
    margin: -5px 0 17px 80px;
    position: relative;
    text-align: center;
    width: 138px;
}
.forgotLnk
{
    margin-top: 10px;
    display: block;
}
.or-box
{
    position: relative;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top:20px;
}

body {
    font-family: thomba;
    font-size:16px;
    line-height:30px;
}
.pad-top {
    padding-top:80px;
    
}
h1 {
    font-size:100px;
    padding-bottom:20px;
    font-weight:900;
}
h3 {
    text-transform:uppercase;
    font-size:40px;
     padding-bottom:40px;
}
h4 {
    padding-top:20px;
   color:#000;
    font-size:40px;
}

